<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinelAirMiles - Backoffice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <environment include="Development">



        <link rel="stylesheet" href="~/backoffice/vendors/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/backoffice/vendors/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/backoffice/vendors/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/backoffice/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="~/backoffice/vendors/selectFX/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="~/backoffice/vendors/jqvmap/dist/jqvmap.min.css">
        <link rel="stylesheet" href="~/backoffice/assets/css/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/backoffice/vendors/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/backoffice/vendors/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/backoffice/vendors/themify-icons/css/themify-icons.css">
        <link rel="stylesheet" href="~/backoffice/vendors/flag-icon-css/css/flag-icon.min.css">
        <link rel="stylesheet" href="~/backoffice/vendors/selectFX/css/cs-skin-elastic.css">
        <link rel="stylesheet" href="~/backoffice/vendors/jqvmap/dist/jqvmap.min.css">

        <link rel="stylesheet" href="~/backoffice/assets/css/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    </environment>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        @*<hr />
            <footer>
                <p>&copy; 2020 - CinelAirMiles - Backoffice</p>
            </footer>*@
    </div>

    <environment include="Development">
        <script src="~/backoffice/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/backoffice/vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/backoffice/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/backoffice/assets/js/main.js"></script>

    </environment>
    <environment exclude="Development">
        <partial name="_CookieConsentPartial" />

        <script src="~/backoffice/vendors/jquery/dist/jquery.min.js"></script>
        <script src="~/backoffice/vendors/popper.js/dist/umd/popper.min.js"></script>
        <script src="~/backoffice/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/backoffice/assets/js/main.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
