@model CinelAirMiles.Web.Frontoffice.Models.GoldReferenceViewModel

@{
    ViewData["Title"] = "ManageGoldReference";
    Layout = "_LayoutMyAccount";
}

<!--? My Account Manage Gold Reference Start-->
<section class="blog_area section-padding">
    <h2 style="margin-top:-100px;">Gold Reference Program</h2>
    <div class="container">
        <br />
        <h5>@Model.Info</h5>
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12 mb-8 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item" style="background-color: #ECEFF1; border-radius: 10px;">
                        <div class="blog_details">
                            @if (Model.ViewState == 1)
                            {
                            <form asp-action="ManageGoldReference">
                                <input type="hidden" asp-for="Info" />
                                <input type="hidden" asp-for="ReferrerClientNumber" />
                                <input type="hidden" asp-for="ReferredClientNumber" />
                                <input type="hidden" asp-for="ViewState" />
                                <div style="color:orange;">@ViewData["Message"]</div>
                                @if (ViewData["Message"] == null)
                                {
                                    <div class="form-group">
                                        <input type="submit" class="button button-contactForm boxed-btn" value="Remove" />
                                    </div>
                                }


                            </form>
                            }
                            else if (Model.ViewState == 2)
                            {
                        <form asp-action="ManageGoldReference">
                            <input type="hidden" asp-for="Info" />
                            <input type="hidden" asp-for="ReferrerClientNumber" />
                            <input type="hidden" asp-for="ViewState" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <label>Client Number</label>
                            <ejs-maskedtextbox id="ej2masked" mask="000000000" ejs-for="ReferredClientNumber"></ejs-maskedtextbox>
                            <br />
                            <div style="color:orange;">@ViewData["Message"]</div>
                            
                            <div class="form-group">
                                <br />
                                <input type="submit" class="button button-contactForm boxed-btn" value="Confirm" />
                            </div>
                        </form>
                            }
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- My Account Manage Gold Reference End -->




@*<h2>@Model.Info</h2>
    <br />

    @if (Model.ViewState == 1)
    {
        <form asp-action="ManageGoldReference">

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </form>
    }
    else if (Model.ViewState == 2)
    {
        <form asp-action="ManageGoldReference">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <ejs-maskedtextbox id="ej2masked" mask="000000000" ejs-for="ReferredClientNumber"></ejs-maskedtextbox>

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </form>
    }

    <button asp-action="ManageAccount" value="Go back"></button>*@