@{
    Layout = "_LayoutMyAccount";
}

<!--? My Account Area Start-->
<section class="blog_area section-padding">
    <h1>Manage Miles</h1>
    <div class="container">
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-lg-12 mb-8 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item" style="background-color:silver; border-radius:10px;">
                        <div class="blog_details">
                            <a href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;"><i class="fa fa-binoculars"></i> Book your trip</h2>

                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- My Account Area End -->