@model CinelAirMiles.Web.Frontoffice.Models.GoldReferenceViewModel

@{
    ViewData["Title"] = "ManageGoldReference";
}

<h2>@Model.Info</h2>
<br />


@if (Model.ViewState == 1)
{
<form asp-action="ManageGoldReference">
    <input type="hidden" asp-for="Info" />
    <input type="hidden" asp-for="ReferrerClientNumber" />
    <input type="hidden" asp-for="ReferredClientNumber" />
    <input type="hidden" asp-for="ViewState" />

    <div class="form-group">
        <input type="submit" value="Remove" class="btn btn-default" />
    </div>
</form>
}
else if (Model.ViewState == 2)
{
<form asp-action="ManageGoldReference">
    <input type="hidden" asp-for="Info" />
    <input type="hidden" asp-for="ReferrerClientNumber" />
    <input type="hidden" asp-for="ViewState" />

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <ejs-maskedtextbox id="ej2masked" mask="000000000" ejs-for="ReferredClientNumber"></ejs-maskedtextbox>

    <div class="form-group">
        <input type="submit" value="Confirm" class="btn btn-default" />
    </div>
</form>
}

<button asp-action="ManageAccount" value="Go back"></button>