@model CinelAirMiles.Common.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutClean";
}
<main style="margin-top:50px; margin-bottom:25px;">

    <!-- login Area Start -->
    <div class="login-form-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="team-info"></div>
                        <div class="login-form">
                            <!-- Login Heading -->
                            <div class="login-heading">
                                <span>Change Password</span>
                            </div>
                            <!-- Single Input Fields -->

                            <div class="input-box">
                                <div class="single-input-fields">
                                    <label asp-for="CurrentPassword">Current password</label>
                                    <input asp-for="CurrentPassword" type="password" class="form-control" />
                                    <span asp-validation-for="CurrentPassword" class="text-warning"></span>

                                </div>
                                <div class="single-input-fields">
                                    <label asp-for="NewPassword">New password</label>
                                    <input asp-for="NewPassword" type="password" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-warning"></span>
                                </div>

                                <div class="single-input-fields">
                                    <label asp-for="ConfirmPassword">Confirm</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                                </div>
                            </div>
                            <div class="login-footer">
                                <input type="submit" value="Change password" class="submit-btn3" />
                            </div>
                            <!-- form Footer -->
                            <div class="login-footer" style="padding-top:10px">
                                <p>Back to  <a asp-action="ChangeUser">User</a></p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- login Area End -->
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
