@model CinelAirMiles.Common.Models.MembershipLoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutClean";
}
    <main style="margin-top:50px; margin-bottom:25px;">
         
        <!-- login Area Start -->
        <div class="login-form-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="login-form">
                                <!-- Login Heading -->
                                <div class="login-heading">
                                    <span>Login</span>
                                </div>
                                <!-- Single Input Fields -->

                                <div class="input-box">
                                    <div class="single-input-fields">
                                        <label asp-for="ProgramNumber">ProgramNumber</label>
                                        <input asp-for="ProgramNumber" class="form-control" type="text" placeholder="Program number.." />
                                        <span asp-validation-for="ProgramNumber" class="text-warning"></span>

                                    </div>
                                    <div class="single-input-fields">
                                        <label asp-for="Password">Password</label>
                                        <input asp-for="Password" type="password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-warning" placeholder="Enter password.."></span>
                                    </div>
                                    <div class="single-input-fields login-check">

                                        <div class="form-check">
                                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                            <label asp-for="RememberMe" class="form-check-label">Remember Me?</label>
                                        </div>
                                        <span asp-validation-for="RememberMe" class="text-warning"></span>

                                        <div>
                                            <a asp-action="RecoverPassword">Forgot your password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="login-footer">
                                    <p>Don’t have an account? <a asp-action="Register">Sign Up</a>  here</p>
                                </div>
                                <!-- form Footer -->
                                <div class="login-footer">

                                    @*<a asp-action="Register" class="btn btn-primary">Register New User</a>*@
                                    <input type="submit" value="Login" class="submit-btn3" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- login Area End -->
        </main>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
