@model CinelAirMiles.Common.Models.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recover Password";
    Layout = "_LayoutClean";
}
    <main style="margin-top:50px; margin-bottom:25px;">

        <!-- login Area Start -->
        <div class="login-form-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="login-form">
                                <!-- Login Heading -->
                                <div class="login-heading">
                                    <span>Recover Password</span>
                                </div>
                                <!-- Single Input Fields -->

                                <div class="input-box">
                                    <div class="single-input-fields">
                                        <label asp-for="Email">Email</label>
                                        <input asp-for="Email" class="form-control" type="email" placeholder="Enter email.." />
                                        <span asp-validation-for="Email" class="text-warning"></span>

                                    </div>
                                </div>
                                <div class="login-footer">
                                    <input type="submit" value="Recover password" class="submit-btn3" />
                                </div>
                                <div style="color:white;">
                                    <p>
                                        @ViewBag.Message
                                    </p>
                                </div>
                                <!-- form Footer -->
                                <div class="login-footer" style="padding-top:10px">
                                    <p>Back to  <a asp-action="Login">Login</a></p>
                                </div>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- login Area End -->
    </main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}