@{
    ViewData["Title"] = "Benefit Not Found";
}
<section>
    <div class="login-box" style="margin:auto; width:800px; height:300px">
        <br />
        <br />
        <br />

        <h2>Benefit Not Found!</h2>

    </div>
</section>
