@{
    ViewData["Title"] = "Impossible delete this Partner now!";
}
<section>
    <div class="login-box" style="margin:auto; width:800px; height:300px">

        <div>
            <br />
            <br />
            <br />
            <h2>Partner with benefit or benefits can not by deleted!</h2>
            <br />
            <h3>First you may delete the benefit or benefits inside the partner!</h3>
        </div>

    </div>
</section>
