@model CinelAirMiles.Common.Entities.Subscription

        <main>
            <!-- Banner News Area Start -->
            <div class="banner-news">
                <div class="container-fluid p-0">
                    <div class="banner-slider-active no-gutters ">
                        <div class="single-sliders">
                            <div class="single-baner-nw mb-30 text-center">
                                <div class="banner-img-cap">
                                    <div class="banner-img">
                                        <img src="~/frontoffice/img/gallery/foto1.jpg" alt="">
                                    </div>
                                    <div class="banner-cap">
                                        <p>News</p>
                                        <h3><a asp-action="News">Check out the most recent world aviation news</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sliders">
                            <div class="single-baner-nw mb-30 text-center">
                                <div class="banner-img-cap">
                                    <div class="banner-img">
                                        <img src="~/frontoffice/img/gallery/foto2.jpg" alt="">
                                    </div>
                                    <div class="banner-cap">
                                        <p>COME JOIN US</p>
                                        <h3><a asp-action="Register" asp-controller="Account">The sooner you join us the more benefits you will be able to enjoy</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sliders">
                            <div class="single-baner-nw mb-30 text-center">
                                <div class="banner-img-cap">
                                    <div class="banner-img">
                                        <img src="~/frontoffice/img/gallery/foto3.jpg" alt="">
                                    </div>
                                    <div class="banner-cap">
                                        <p>HAVE ANY QUESTIONS?</p>
                                        <h3><a asp-action="Contact">You can easily get in contact with us</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sliders">
                            <div class="single-baner-nw mb-30 text-center">
                                <div class="banner-img-cap">
                                    <div class="banner-img">
                                        <img src="~/frontoffice/img/gallery/foto4.jpg" alt="">
                                    </div>
                                    <div class="banner-cap">
                                        <p>TRAVEL WITH US</p>
                                        <h3><a>Let The Amazing CET46 Take You On A Journey</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sliders">
                            <div class="single-baner-nw mb-30 text-center">
                                <div class="banner-img-cap">
                                    <div class="banner-img">
                                        <img src="~/frontoffice/img/gallery/foto5.jpg" alt="">
                                    </div>
                                    <div class="banner-cap">
                                        <p>Partners</p>
                                        <h3><a asp-action="Index" asp-controller="Partners">Come check out our partners and the possible benefits you could take advantage of</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Banner News Area End -->
            <!-- Want To work -->
            <section class="wantToWork-area gray-bg ">
                <div class="container">
                    <div class="wants-wrapper w-padding2">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-6 col-lg-7 col-md-10">
                                <div class="wantToWork-caption wantToWork-caption2">
                                    <h2>Subscribe for latest updates</h2>
                                    <p>Indie folks start out by making something they want to read, that tell stories they want told..</p>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-12">
                                <form class="search-box" asp-controller="Home" asp-action="AddSubscriptionAsync">

                                    <div class="input-form">
                                        <input name="email" asp-for="Email" type="email" placeholder="Enter your email.." />
                                    </div>
                                    <div class="search-form">
                                        <input type="submit" value="Subscribe" class="submit-btn3" id="myBtn" />
                                    </div>
                                    <span asp-validation-for="Email"></span>
                                    <span class="text-success">
                                        @ViewData["Message"]
                                    </span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Want To work End -->

        </main>
