<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CinelAirMiles</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/frontoffice/img/favicon.ico">

    <environment include="Development">
        <link rel="stylesheet" href="~/frontoffice/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/slicknav.css">
        <link rel="stylesheet" href="~/frontoffice/css/animate.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/hamburgers.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/magnific-popup.css">
        <link rel="stylesheet" href="~/frontoffice/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/themify-icons.css">
        <link rel="stylesheet" href="~/frontoffice/css/themify-icons.css">
        <link rel="stylesheet" href="~/frontoffice/css/slick.css">
        <link rel="stylesheet" href="~/frontoffice/css/nice-select.css">
        <link rel="stylesheet" href="~/frontoffice/css/style.css">
        <link rel="stylesheet" href="~/frontoffice/css/responsive.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/frontoffice/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/slicknav.css">
        <link rel="stylesheet" href="~/frontoffice/css/animate.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/hamburgers.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/magnific-popup.css">
        <link rel="stylesheet" href="~/frontoffice/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/themify-icons.css">
        <link rel="stylesheet" href="~/frontoffice/css/themify-icons.css">
        <link rel="stylesheet" href="~/frontoffice/css/slick.css">
        <link rel="stylesheet" href="~/frontoffice/css/nice-select.css">
        <link rel="stylesheet" href="~/frontoffice/css/style.css">
        <link rel="stylesheet" href="~/frontoffice/css/responsive.css">
    </environment>
    
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
</head>
<body>

    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top ">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-lg-between align-items-center">

                                <div class="header-info-left">
                                    <!-- logo -->
                                    <div class="logo">
                                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/frontoffice/img/flyt.jpg" alt="" style="width:155px"></a>
                                    </div>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                    <!--Login-->
                                    <ul class="nav navbar-nav navbar-right">
                                        @if (this.User.Identity.IsAuthenticated)
                                        {
                                            <li><a asp-area="" asp-controller="Clients" asp-action="MyAccount">@this.User.Identity.Name</a></li>
                                            <li><a asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                        }
                                        else
                                        {
                                            <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                                        }
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <!-- logo 2 -->
                                <div class="logo2">
                                    <a href="index.html"><img src="~/frontoffice/img/img/flyt.jpg" alt=""></a>
                                </div>
                                <!-- logo 3 -->
                                <div class="logo3 d-block d-sm-none">
                                    <a href="index.html"><img src="~/frontoffice/img/img/flyt.jpg" alt=""></a>
                                </div>
                                <!-- Main-menu -->
                                <div class="main-menu text-center d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                            <li><a asp-area="" asp-controller="Clients" asp-action="MyAccount">My Account</a></li>
                                            <li><a asp-area="" asp-controller="Clients" asp-action="Complaints">My Complaints</a></li>
                                            <li><a asp-area="" asp-controller="Clients" asp-action="ManageMiles">Manage Miles</a></li>
                                            <li><a asp-area="" asp-controller="Clients" asp-action="MyBalance">Miles Balance</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Miles Store<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a asp-area="" asp-controller="Miles" asp-action="ConvertMiles">Convert Miles</a></li>
                                                    <li><a asp-area="" asp-controller="Miles" asp-action="PurchaseMiles">Purchase Miles</a></li>
                                                    <li><a asp-area="" asp-controller="Miles" asp-action="TransferMiles">Transfer Miles</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        
                                    </nav>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">                               
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()


        <footer>
            <!-- Footer Start-->
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-9 col-lg-8">
                                <div class="footer-copy-right text-center">
                                    <p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="https://cinel.pt" target="_blank">Andreia Correia | Bruno Tavares | Ricardo Lourenço - CET46</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </footer>

        <!-- Scroll Up -->
        <div id="back-top">
            <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>
    </div>

    <environment include="Development">


        <!-- JS here -->

        <script src="~/frontoffice/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="~/frontoffice/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/frontoffice/js/popper.min.js"></script>
        <script src="~/frontoffice/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="~/frontoffice/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="~/frontoffice/js/owl.carousel.min.js"></script>
        <script src="~/frontoffice/js/slick.min.js"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="~/frontoffice/js/wow.min.js"></script>
        <script src="~/frontoffice/js/animated.headline.js"></script>
        <script src="~/frontoffice/js/jquery.magnific-popup.js"></script>

        <!-- Date Picker -->
        <script src="~/frontoffice/js/gijgo.min.js"></script>
        <!-- Nice-select, sticky -->
        <script src="~/frontoffice/js/jquery.nice-select.min.js"></script>
        <script src="~/frontoffice/js/jquery.sticky.js"></script>
        <!-- Progress -->
        <script src="~/frontoffice/js/jquery.barfiller.js"></script>

        <!-- counter , waypoint,Hover Direction -->
        <script src="~/frontoffice/js/jquery.counterup.min.js"></script>
        <script src="~/frontoffice/js/waypoints.min.js"></script>
        <script src="~/frontoffice/js/jquery.countdown.min.js"></script>
        <script src="~/frontoffice/js/hover-direction-snake.min.js"></script>

        <!-- contact js -->

        <script src="~/frontoffice/js/jquery.form.js"></script>
        <script src="~/frontoffice/js/jquery.validate.min.js"></script>


        <!-- Jquery Plugins, main Jquery -->
        <script src="~/frontoffice/js/plugins.js"></script>
        <script src="~/frontoffice/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <!-- Scroll Up -->
        <div id="back-top">
            <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>

        <!-- JS here -->

        <script src="~/frontoffice/js/vendor/modernizr-3.5.0.min.js"></script>
        <!-- Jquery, Popper, Bootstrap -->
        <script src="~/frontoffice/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="~/frontoffice/js/popper.min.js"></script>
        <script src="~/frontoffice/js/bootstrap.min.js"></script>
        <!-- Jquery Mobile Menu -->
        <script src="~/frontoffice/js/jquery.slicknav.min.js"></script>

        <!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="~/frontoffice/js/owl.carousel.min.js"></script>
        <script src="~/frontoffice/js/slick.min.js"></script>
        <!-- One Page, Animated-HeadLin -->
        <script src="~/frontoffice/js/wow.min.js"></script>
        <script src="~/frontoffice/js/animated.headline.js"></script>
        <script src="~/frontoffice/js/jquery.magnific-popup.js"></script>

        <!-- Date Picker -->
        <script src="~/frontoffice/js/gijgo.min.js"></script>
        <!-- Nice-select, sticky -->
        <script src="~/frontoffice/js/jquery.nice-select.min.js"></script>
        <script src="~/frontoffice/js/jquery.sticky.js"></script>
        <!-- Progress -->
        <script src="~/frontoffice/js/jquery.barfiller.js"></script>

        <!-- counter , waypoint,Hover Direction -->
        <script src="~/frontoffice/js/jquery.counterup.min.js"></script>
        <script src="~/frontoffice/js/waypoints.min.js"></script>
        <script src="~/frontoffice/js/jquery.countdown.min.js"></script>
        <script src="~/frontoffice/js/hover-direction-snake.min.js"></script>

        <!-- contact js -->

        <script src="~/frontoffice/js/jquery.form.js"></script>
        <script src="~/frontoffice/js/jquery.validate.min.js"></script>


        <!-- Jquery Plugins, main Jquery -->
        <script src="~/frontoffice/js/plugins.js"></script>
        <script src="~/frontoffice/js/main.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

    <!-- Syncfusion Essential JS 2 ScriptManager -->
    <ejs-scripts></ejs-scripts>
</body>
</html>
