<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CinelAirMiles</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/frontoffice/img/favicon.ico">

    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />

    <!-- Syncfusion Essential JS 2 Scripts -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/frontoffice/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/slicknav.css">
        <link rel="stylesheet" href="~/frontoffice/css/flaticon.css">
        <link rel="stylesheet" href="~/frontoffice/css/progressbar_barfiller.css">
        <link rel="stylesheet" href="~/frontoffice/css/gijgo.css">
        <link rel="stylesheet" href="~/frontoffice/css/animate.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/animated-headline.css">
        <link rel="stylesheet" href="~/frontoffice/css/magnific-popup.css">
        <link rel="stylesheet" href="~/frontoffice/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/themify-icons.css">
        <link rel="stylesheet" href="~/frontoffice/css/slick.css">
        <link rel="stylesheet" href="~/frontoffice/css/nice-select.css">
        <link rel="stylesheet" href="~/frontoffice/css/style.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/frontoffice/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/slicknav.css">
        <link rel="stylesheet" href="~/frontoffice/css/flaticon.css">
        <link rel="stylesheet" href="~/frontoffice/css/progressbar_barfiller.css">
        <link rel="stylesheet" href="~/frontoffice/css/gijgo.css">
        <link rel="stylesheet" href="~/frontoffice/css/animate.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/animated-headline.css">
        <link rel="stylesheet" href="~/frontoffice/css/magnific-popup.css">
        <link rel="stylesheet" href="~/frontoffice/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="~/frontoffice/css/themify-icons.css">
        <link rel="stylesheet" href="~/frontoffice/css/slick.css">
        <link rel="stylesheet" href="~/frontoffice/css/nice-select.css">
        <link rel="stylesheet" href="~/frontoffice/css/style.css">
    </environment>
</head>

<body>

    @RenderBody()
</body>
</html>

